 body {
     font-family: "Montserrat", sans-serif;
     background-color: #ffffff;
     display: flex;
     justify-content: center;
     align-items: center;
     max-height: 888px;
     margin: 0;
 }

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 16px;
}
li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.categories-container {
    margin: 24px 24px;
    padding: 16px 16px;
    border-radius: 8px;
    width: 392px;
    height: auto;
    background-color: #f6f6fe;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #2e2f42;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
}
