body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s;
}

.widget {
    text-align: center;
    background-color: #ffffff;
    padding: 100px 88px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.widget p {
    margin: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.widget .color {
    font-weight: bold;
    color: #4a90e2;
}

.widget button {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4e75ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.widget button:hover {
    background-color: #357ab8;
}