body {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-form {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 408px;
    box-sizing: border-box;
}

.login-form label {
    display: block;
    margin-bottom: 15px;
    color: #333333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    min-width: 86px;
    padding: 10px;
    background: #4e75ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
}

.login-form button:hover {
    background-color: #357ab8;
}